/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.bash_history
.composer/
.oh-my-zsh/
.shell.pre-oh-my-zsh
.viminfo
.wget-hsts
.zcompdump-ip-10-0-0-178-5.0.2
.zsh_history
.zshrc
composer.phar
index.html
.gitconfig
_index.html
/public/import_files/
/public/product/images/
/public/store/images/
/public/promotion/images/
/public/coupon/images/
/public/profile/images/
/public/logs/
/public/redeemInfo/
/public/import_alt_codes_files/
/public/assets
/app/Http/Controllers/NotificationController.php
/app/Http/Controllers/OrderController.php
/app/Http/Controllers/API/UserController.php
/app/Http/Controllers/API/OrderController.php
/app/Http/Controllers/API/MassycardController.php
/app/Http/Controllers/API/CustomerCareController.php
/app/Http/Controllers/AdminController.php
/app/Console/Commands
/config/sftpservers.php
/config/services.php